# what are sets in python 
- In Python, a set is an unordered collection of unique elements. Sets are highly useful for performing operations that involve comparing and combining collections of data. Hereâ€™s a detailed look at sets:

Creating a Set
You can create a set by using curly braces {} or the set() function.

In [8]:
# creating empty set
empty_set = set()

In [10]:
# creating a set with elements 
fruits = {'apple','banana','orange'}

# converting a list to a set

In [13]:
numbers = set([1,2,3,4,5])
print(numbers)

{1, 2, 3, 4, 5}

In [15]:
fruits = {'apple','banana','orange'}
print(type(fruits))

<class 'set'>

# duplicate items in a set
prints only the unique values but not the duplicates

In [18]:
numbers = {3,3,4,4,5,6,7,8,9,0,10,11}
print(numbers)

{0, 3, 4, 5, 6, 7, 8, 9, 10, 11}

# add and update set items in python
- sets are mutable, since they are unordered ,indexing has no meaning
- we cannot access or change elements of a set using indexing or slicing

# add items to a set 
- in python we use add ()method to add item to a set

In [25]:
# ex add items to a set 
numbers = {9,1,2,3,4,5,6,7,8,10,11,23,4,5}
print('initial set:',numbers)
numbers.add(1)
print('updated set:',numbers)

initial set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 23}
updated set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 23}

# update python set 
- The update ()method is used to update the set with items other collection types(lists,tuples,sets,etc)

In [30]:
# ex update python set 
companies = {'microsoft','teks','technology','teks'}
tech_companies = {'mon','teks','technology'}
companies.update(tech_companies)
print(companies)

{'microsoft', 'technology', 'teks', 'mon'}

# remove an element from a set
- we use the discard ()method to remove the specified element from a set
-

In [33]:
languages = {'swift','java','python'}
print('initial set:',languages)
languages.remove('python')
print('final set:',languages)

initial set: {'java', 'swift', 'python'}
final set: {'java', 'swift'}

# python set operations

# union of two sets
- shows all the elements in set 1 & 2 but not the duplicates

In [38]:
# perform using |
# first set 
c = {0,42,35,5,29,4}
# second set 
d = {0,4,22,44,55,66}
print('union using 1:',c | d)

union using 1: {0, 66, 35, 4, 5, 42, 44, 22, 55, 29}

In [42]:
# perform using union ()
# first set 
c = {0,42,35,5,29,4}
# second set 
d = {0,4,22,44,55,66}
print('output:',c.union(d))

output: {0, 66, 35, 4, 5, 42, 44, 22, 55, 29}

# set intersection
- prints the common elemnts in set A & B

In [45]:
# first set 
c = {0,42,35,5,29,4}
# second set 
d = {0,4,22,44,55,66}
print('intersection:',c & d)

intersection: {0, 4}

# Difference between two sets 
- the difference betweeen two sets a and b includes elements of set a and set b that are not present on set b.
- returns elemnts that are in the first set but not in the second

In [50]:
# first set 
c = {0,42,35,5,29,4}
# second set 
d = {0,4,22,44,55,66}
print('difference using differnce ():',c.difference(d))

difference using differnce (): {29, 42, 35, 5}

# set symmetric difference 
- prints the elements in a and b but not the common elements

In [53]:
# first set 
c = {0,42,35,5,29,4}
# second set 
d = {0,4,22,44,55,66}
print(c^d)

{66, 35, 5, 42, 44, 22, 55, 29}