# what is a string 
- what is a string inpython
In Python, a string is a sequence of characters enclosed in quotes. Strings are used to represent text and are one of the most commonly used data types in programming.
- You can create strings by enclosing characters in single quotes (' '), double quotes (" "), or triple quotes (''' ''' or """ """).

# examples of string 
a = "kamal"
b = 'kamal'
c = "kamal! you"
d = "kamal123"
e = 'kamal123'

# string format 
1) .format method
2) f-string method

# .format method
The .format() method is a versatile way to format strings, introduced in Python 2.7 and Python 3.0. It uses curly braces {} as placeholders, which can be replaced with values specified in the .format() method.

# f-string method
F-strings, introduced in Python 3.6, provide a more concise and readable way to format strings. They are prefixed with f or F and allow embedded expressions inside curly braces {}.

In [7]:
# format method
name = "naveen"
age = 21
print('my name is {} and my age is {}'.format(name,age))

my name is naveen and my age is 21

In [9]:
# f-string method
name = "naveen"
age = 21
print(f'my name is {name} and my age is {age} ')

my name is naveen and my age is 21

# Accessing elements from a string

In [12]:
# positive index
a = "kamal" 
print(a[0])

k

In [16]:
b = "kamal 123"
print(b[5])

In [18]:
c = 'kamal_1'
print(c[5])

_

In [20]:
# negative index
a = "kamal" 
print(a[-1])

l

In [22]:
b = "kamal 123"
print(b[-3])

1

In [24]:
c = 'kamal_1'
print(c[-3])

l

In [28]:
# slicing 
a = "kamal" 
print(a[1:4])

ama

In [30]:
a = "kamal" 
print(a[1:])

amal

In [32]:
a = "kamal" 
print(a[:3])

kam

# string functions and operstions

In [35]:
# Adding strings
a = "ram"
b = "kumar"
add = a + b
print (add)

ramkumar

In [38]:
a = "ram"
b = "kumar"
add = a + " " + b
print (add)

ram kumar

In [44]:
# lower method 
a = 'SHYAM' 
a.lower()

'shyam'

In [46]:
# upper method 
a = 'shyam' 
a.upper()

'SHYAM'

In [50]:
# length method
a ="dinesh"
len(a)

6

In [52]:
# split function
a ="dinesh is a good boy"
a.split()

['dinesh', 'is', 'a', 'good', 'boy']

In [56]:
# join function
a ="dinesh is a good boy"
k=join(a)
k

NameError: name 'join' is not defined